{% extends "main.html" %}

{% block content %}
<h1>Home</h1>
{% if request.user.is_manager %}
    <a href="{% url 'questions:add-question' %}">+Add Question</a>
{% endif %}
<div class="questions-container">
    {% if questions|length == 0 %}
        <p>There are no questions available.</p>
    {% else %}
        <ol>
            {% for question in questions %}
                <div class="question-body">
                    <li>
                        <h3>{{question.title}}</h3>
                        <p>{{question.body}}</p>
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_manager %}
                                <a href="{% url 'questions:manage-question' question.id %}">View Question</a>
                            {% else %}
                                <a href="{% url 'questions:question' question.id %}">Vote</a>
                            {% endif %}
                        {% endif %}
                    </li>
                </div>
            {% endfor %}
        </ol>
    {% endif %}
</div>
{% endblock %}